.center-title {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
    margin-top: 20px;
}